<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoferoWeb</title>
    <% include partials/head %>
</head>
<body>
    <!--HEADER-->
    <% include partials/navigation %>


<div class="header-2">
<div style="background-image: url(img/fondo-3.png);">
<div class="row">    
    
            <div class="col-lg-6 text-center ">
                <img src="img/perfil.png" class="w-auto animated bounceInDown" alt="" height="350">
            </div>
    
  

            <div class="header-text">  
                <div class="col-lg-12  text-white p-5 ">
                    <p>
                        <h3>Edad:36 años.</h3>
                    </p>
                    <p>
                        <h3>Direccion: Belisario Roldan 164.</h3>
                    </p>
                    <p>
                        <h3>Ciudad: Rio cuaro, Cordoba. Arg.</h3>
                    </p>
                    <p>
                        <h3>E-mail: jofero_84@hotmail.com.</h3>
                    </p>
                    <p>
                        <h3> Telefono: (0358) 154379531.</h3>
                    </p>
                </div>
            </div>
</div>    

</div>

</div>
 


<div style="background-image:url(img/bg-2.png) ;">
<div class="container-about">


    <div class="container-2">        
            <div class="text-center">
                <p> 
                   <h1> Estudios:</h1>
                </p>
            </div>
    </div>                        
 
    <div class="col-sm-12">
        <h5>
            <p> Primario: Completo – Escuela Normal Justo José de Urquiza (1990 - 1995)</p>
            <p> Secundario: Completo - Instituto Secundario Santa María Goretti; Bachiller y técnico de nivel medio en producción de servicios, especialidad mantenimiento (1996 - 2003)</p>
            <p> Universitario: Estudiante – Profesorado de inglés (2004 - 2005), Enfermero profesional (nivel incompleto).</p>
        </h5>
    </div>


    <div class="container-2">
        <div class="text-center">
            <p>
               <h1> Otros Cursos: </h1>
            </p>
        </div>    
    </div>

    <div class="col-sm-12">
        <h4>
            <p> -U.N.R.C: Curso de capacitación en primeros auxilios</p>
            <p> -U.N.R.C: Curso de capacitación de bioseguridad.</p>
            <p> -U.N.R.C: Curso de seguridad e higiene.</p>
            <p> -U.N.R.C: Curso de inglés.</p>
            <p> -Linkedin (in learning): Certificación virtual en Desarrollador de software full stack, Certificación en Diseño gráfico. (2020).</p>
        </h4>

    </div>

    <div class="container-2">
        <div class=" text-center">
            <p> 
                <h1>Conocimientos:</h1>
            </p> 
        </div> 
    </div>

    <div class="row ">
        <div class="col-sm-6">
            <h4>
                <p> -Conocimiento en tecnología Arduino.</p>
                <p> -Conocimientos en IOT (internet of think.</p>
                <p> -onocimiento en programación HTML y CSS. </p>
                <p> -Conocimientos en programación Java script.</p>
                <p> -Conocimientos en NodeJS. AngularJs. Npm. Wordpress.</p>
                <p> -Conocimientos en manejo en Photoshop, Illustrator.</p>
                <p> -Conocimientos en soporte IT.</p>
                <p> -Manipulación de Sistemas Operativos: Windows.</p>
                <p> -Procesadores de texto: Avanzado.</p>
                <p> -Internet, redes y manejo del mismo: Avanzado.</p>
                <p> -Idiomas: inglés – MEDIO/ALTO.</p>
                <p> -Reparación de PC.</p>
                <p> -Conocimientos en primeros auxilios.</p>
                <p> -Conocimientos avanzados en enfermería.</p>
                <p> -Conocimientos en electrónica.</p>
                <p> -Conocimiento en redes eléctricas domiciliarias e instalaciones en general.</p>
                <p> -Técnico eléctrico próximo a rendir técnico eléctrico de categoría tres.</p>
            </h4>
        </div>
        
        <div class="col-sm-6">
            <img src="img/libros.png" class="w-auto animated fadeInLeft" alt="" height="550">
        </div>

    </div>



</div>

</div>    

    <!-- FOOTER -->
    <% include partials/footer %>
    
</body>
</html>