<footer class="bg-dark text-white text-center p-2">
  <p class="h6">Desarrollado por JoferoWeb &copy; 2020</p>
      <ul class="footer-links-soi">
                  <i class="fas fa-phone"> (0358) 4662895</i> 
                  <i class="fab fa-whatsapp"> (0358) 154379531</i> 
                  <i class="fab fa-facebook-square"> Jorge Federico Rodriguez</i>  
                  <i class="fab fa-instagram"> Fede Rodrigez</i>
                  <i class="fas fa-envelope"> Jofero_84@hotmail.com</i> 
      </ul>
</footer>

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
